{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Admin Page{% endblock title %}
    {% block content %}
        <div style="padding-left: 500px; padding-right:500px; padding-top:100px">
            <h2>Saytga kirish</h2>
            <form method="post">{% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-1 col-12" style="padding-top:20px">
                  <button class="btn btn-primary" type="submit">Kirish</button>
                  <a href="{% url 'password_reset' %}" class="btn btn-primary">Paro'lni unutdingizmi?</a>
                </div>
            </form>
         </div>
    {% endblock content %}