{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Paro'lni unutdingizmi?{% endblock title %}
    {% block content %}
    <div style="padding-left: 500px; padding-right:500px; padding-top:100px">
        <h2>Paro'lni unutdingizmi?</h2>
        <p>Email manzilingizni kiriting, biz sizga paro'lni tiklash uchun qo'llanma yuboramiz</p>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-1 col-12" style="padding-top:20px">
              <button class="btn btn-primary" type="submit">Yuborish</button>
            </div>
        </form>
    </div>
    {% endblock content %}