{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Paro'lni o'zgartirish{% endblock title %}
    {% block content %}
    <div style="padding-left: 500px; padding-right:500px; padding-top:100px">
        <h2>Paro'lni o'zgartirish</h2>
        <p>Avval eski paro'lni keyin esa yangi paro'lni ikki marotaba kiriting. </p>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-1 col-12" style="padding-top:20px">
              <button class="btn btn-primary" type="submit">O'zgartirish</button>
            </div>
        </form>
    </div>
    {% endblock content %}