{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Paro'lni tiklash{% endblock title %}
    {% block content %}
        <div style="padding-left: 500px; padding-right:500px; padding-top:100px">
            <h2>Yangi paro'l o'rnatish</h2>
            <p>Yangi paro'lni ikki marotaba kiriting va tasdiqlash tugmasini bosing</p>
            <form method="post">{% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-1 col-12" style="padding-top:20px">
                  <button class="btn btn-primary" type="submit">Tasdiqlash</button>
                </div>
            </form>
         </div>
    {% endblock content %}