{% extends 'base.html' %}
{% load static %}
{% block title %}Telegram bots{% endblock title %}
    {% block content %}
<br><br>

				<div class="col text-center">
					<div class="section_subtitle">examples of my telegram projects</div>
					<div class="section_title"><h2>TELEGRAM BOTS</h2></div>
				</div>
							<div style="width:1000; height:800px; margin-left: 250px">
							  <img style=" float:left; display:inline; margin:20px" src="{% static 'img/tg/a1.jpg' %}" width="300" height="700" alt="" />
							  <img style=" float:left; display:inline; margin:20px"  src="{% static 'img/tg/a2.jpg' %}" width="300" height="700" alt="" />
							<br><br><br><br>
							<div class="destination_subtitle"><p>Ushbu bot orqali o'zbek tilidagi so'zlarni mavjud yoki mavjud emasligini, shuningdek agar mavjud bo'lmasa, unga muqobil so'zlarni chiqarib beradi.</p></div>
							<div class="destination_subtitle"><p>Bu botga lotin harflarida hamda o'zbek harflarida so'z kiritishingiz mumkin</p></div>
							<br>
							<div class="destination_subtitle"><p>Ushbu botni kodlarini ko'rish uchun quyidagi <a href="https://github.com/Kamol774/Uz-imlo-bot" class="btn btn-success">link ga bosing</a></p></div>
							</div>
							<div class="line" style="height: 5px; background: linear-gradient(to bottom, transparent 2px, black 2px, black 3px, transparent 3px)"></div>


							<div style="width:1000; height:800px; margin-left: 250px">
							  <img style=" float:left; display:inline; margin:20px" src="{% static 'img/tg/b1.jpg' %}" width="300" height="700" alt="" />
							  <img style=" float:left; display:inline; margin:20px"  src="{% static 'img/tg/b2.jpg' %}" width="300" height="700" alt="" />
							<br><br><br><br>
							<div class="destination_subtitle"><p>Ushbu bot orqali har qanday so'zga oid wikipedia malumotlarini olishingiz mumkin.</p></div>
							<div class="destination_subtitle"><p>Bu botdan foydalanishda /search so'zidan so'ng qidirmoqchi bo'lgan so'zni kiritishingiz lozim. Misol uchun  --------    /search o'rta osiyo  </p></div>
							<br>
							<div class="destination_subtitle"><p>Ushbu botni kodlarini ko'rish uchun quyidagi <a href="https://github.com/Kamol774/wiki_bot" class="btn btn-success">link ga bosing</a></p></div>
							</div>
							<div class="line" style="height: 5px; background: linear-gradient(to bottom, transparent 2px, black 2px, black 3px, transparent 3px)"></div>



						<div style="width:1000; background-color:white; height:800px; margin-left: 250px">
							  <img style=" float:left; display:inline; margin:20px" src="{% static 'img/tg/c1.jpg' %}" width="300" height="700" alt="" />
							  <img style=" float:left; display:inline; margin:20px"  src="{% static 'img/tg/c2.jpg' %}" width="300" height="700" alt="" />
							<br><br><br><br>
							<div class="destination_subtitle"><p>Ushbu bot orqali har qanday lotincha so'z yoki matnni kirilcha harfda yozilgan so'z yoki matnga o'zgartirishingiz, yoki aksincha kirilchani lotinchaga o'zgartirishingiz mumkin.</p></div>
							<br>
							<div class="destination_subtitle"><p>Ushbu botni kodlarini ko'rish uchun quyidagi <a href="https://github.com/Kamol774/kirill-to-latin-telegram-bot" class="btn btn-success">link ga bosing</a></p></div>
						</div>
							<div class="line" style="height: 5px; background: linear-gradient(to bottom, transparent 2px, black 2px, black 3px, transparent 3px)"></div>


							<div style="width:1000; height:800px; margin-left: 250px">
							  <img style=" float:left; display:inline; margin:20px" src="{% static 'img/tg/d1.jpg' %}" width="300" height="700" alt="" />
							  <img style=" float:left; display:inline; margin:20px"  src="{% static 'img/tg/d2.jpg' %}" width="300" height="700" alt="" />
							<br><br><br><br>
							<div class="destination_subtitle"><p>Ushbu bot orqali istalgan ingliz tilida mavjud so'zni kiritib, uning turli xil mavjud ma'nolarini bilib olishingiz mumkin.</p></div>
							<div class="destination_subtitle"><p>Shu bilan birga kiritgan so'zingizni audio faylini olishingiz va qanday talaffuz qilinishini bilib olishingiz mumkin.</p></div>
							<br>
							<div class="destination_subtitle"><p>Ushbu botni kodlarini ko'rish uchun quyidagi <a href="https://github.com/Kamol774/speak-English-bot" class="btn btn-success">link ga bosing</a></p></div>
							</div>

						<div class="col text-center">
							<a rel="nofollow noopener" href="{% url 'home' %}"><h2>Asosiy sahifaga qaytish!</h2></a>
						</div>

    {% endblock %}